<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />ORIGINAL
    </startup>-->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
	 
	<add key="Servidor" value="38.25.36.182"/>
	<!--<add key="Servidor" value="DESKTOP-D7LV53A" />-->
	  
    <add key="BDatos" value="INSUGRAF_2022" />
    <add key="BDatos" value="INDUSTRIA_AL" />
    <add key="BDatos" value="QUIMICOS_PYG" />
    <add key="BDatos" value="INSUGRAF_2022_PRUEBA" />
    <add key="BDatos" value="INSUGRAF_P" />
    <add key="BDatos" value="IMPORTADORA_INSUGRAF" />
	  
    <add key="Usuario" value="DBAX2013"/>
    <add key="Password" value="s‡u‘™f†tu"/>

	  <!--<add key="Usuario" value="NovaQ" />
	  <add key="Password" value="123456" />-->
	  
     <!--<add key="Reportes" value="C:\Z\ReportesNova2014"/>-->
    <add key="Reportes" value="Z:\Fuente2021_21\fuentes AWCR\D\INSUGRAF\JULISA AGUILAR\ReportesNova2014" />	  
    <add key="Ruta_FE" value="C:\Servicio" />
    <add key="Ruta_FE_Verificacion" value="C:\Servicio\" />
    <add key="Ruc" value="" />
    <add key="Fondo" value="" />
    <add key="Pagina" value="25" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
